@import url("https://fonts.googleapis.com/css?family=Roboto");

$primary: #3d5a80;
$secondary: #ee6c4d;
$info: #98c1d9;
$light: #eff7f7;
$dark: #293241;
$warning: #f4cc84;
$success: #229422;
$danger: #ed6f6f;

* {
    font-family: Roboto;
    font-size: medium;
}

h1 {
    font-weight: 900;
    color: $primary;
    letter-spacing: 0.2em;
}

h2 {
    font-weight: 500;
    letter-spacing: 0.1em;
    color: $secondary;
}

h3, h4, h5, h6 {
    color: $secondary;
}

p {
    font-weight: 400;
}

i {
    font-weight: 300;
}

// Custom form

.form {

    border: 1px $primary solid;
    border-radius: 2px;
    background-color: white;

    .form-title {
        text-align: center;
        font-weight: bold;
        background-color: $primary;
        padding: 10px;
    }

}

.form-control, .uneditable-input:focus {
    background-color: white !important;
    border: solid 1px $secondary !important;
}

.input-group-prepend {
    border: solid 1px $secondary !important;
    border-radius: 2px;
}


.modal-backdrop {
    z-index: 1040 !important;
}

.card {
    -webkit-box-shadow: 0 8px 6px -6px $secondary;
    -moz-box-shadow: 0 8px 6px -6px $secondary;
    box-shadow: 4px 4px 2px -2px $primary;

    &:hover {
        -moz-box-shadow: 0 0 15px $secondary;
        -webkit-box-shadow: 0 0 15px $secondary;
        box-shadow: 0 0 15px $secondary;

        //No funciona mask
        //-webkit-mask-size: 120% 120%;
        //mask-size: 120% 120%;
        //-webkit-animation: mask-play 1s steps(20) forwards;
        //animation: mask-play 1s steps(20) forwards;

    }
}


