@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");


$primary: #3d5a80;
$secondary: #ee6c4d;
$info: #98c1d9;
$light: #eff7f7;
$dark: #293241;
$warning: #f4cc84;
$success: #229422;
$danger: #ed6f6f;

//No Horizontal scroll
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    font-family: Roboto;
    font-size: medium;
}

h1 {
    font-weight: 900;
    text-align: center;
    font-size: 2em !important;
    color: $primary;
    padding: 2px;
}

h2 {
    font-weight: 500;
    letter-spacing: 0.1em;
    color: $secondary;
}

h3, h4, h5, h6 {
    color: $secondary;
}

p {
    font-weight: 400;
}

i {
    font-weight: 300;
}

// Custom form

.form {

    border: 1px $primary solid;
    border-radius: 2px;
    background-color: white;

    .form-title {
        text-align: center;
        font-weight: bold;
        background-color: $primary;
        padding: 10px;
    }

}

.form-control, .uneditable-input:focus {
    background-color: white !important;
    border: solid 1px $secondary !important;
}

.input-group-prepend {
    border: solid 1px $secondary !important;
    border-radius: 2px;
}


.modal-backdrop {
    z-index: 1040 !important;
}

.card {
    -webkit-box-shadow: 0 8px 6px -6px $secondary;
    -moz-box-shadow: 0 8px 6px -6px $secondary;
    box-shadow: 4px 4px 2px -2px $primary;

    &:active , &:hover , &:focus {
        -moz-box-shadow: 0 0 15px $secondary;
        -webkit-box-shadow: 0 0 15px $secondary;
        box-shadow: 0 0 15px $secondary;

        //No funciona mask
        //-webkit-mask-size: 120% 120%;
        //mask-size: 120% 120%;
        //-webkit-animation: mask-play 1s steps(20) forwards;
        //animation: mask-play 1s steps(20) forwards;

    }
}


#homePageHeader {
    height: 75vh;
    background-color: $dark;
    color: white !important;


    h2 {
        font-size: 3em !important;
    }

    h4 {
        font-size: 1.6em !important;
    }


}

.float{
    position:fixed;
    width:80px;
    height:80px;
    bottom:70px;
    right:2.5rem;
    background-color: blue;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.my-float{
    margin-top:25px;
}

//Scroll option
//#homePageHeader {
//    //background-image: url("https://wallpaperaccess.com/full/486709.jpg") !important;
//    background-image: url("https://i.pinimg.com/originals/52/2f/72/522f727ba9704734729513b9d7ccf499.jpg") !important;
//    height: 75vh !important;
//    //background-color: transparent !important;
//
//
//    nav span {
//        font-size: 48px;
//        color: $secondary;
//        padding: 40px;
//        font-family: 'Anton', sans-serif;
//        letter-spacing: 0.2em;
//
//
//    }
//    p {
//        font-size: xx-large;
//        color: black;
//
//    }
//
//
//}






