@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  font-family: Roboto;
  font-size: medium;
}
h1 {
  font-weight: 900 ;
  color: #3d5a80;
  letter-spacing: 0.2em;
}
h2 {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #ee6c4d;
}
p {
  font-weight: 400;
}
i {
  font-weight: 300;
}
.form {
  border: 2px #3d5a80 solid;
  border-radius: 0.5em;
  background-color: white;
}
.form .form-title {
  text-align: center;
  font-weight: bold;
  background-color: #3d5a80;
  padding: 10px;
}
