.detalled-image {

    &:hover {
        width: 110%;
        -moz-box-shadow: 0 0 10px $secondary;
        -webkit-box-shadow: 0 0 10px $secondary;
        box-shadow: 0 0 10px $info;
        transition: all 1s;

    }
}

.participant-list {
    list-style-type: none;
    color: white;
    padding: 2px;
    border: solid 1px $secondary;
    border-radius: 20px;
    text-align: center;

    &:hover {
        background-color: $secondary;
        color: white;
        padding: 3px;
        transition: all 0.2s;
    }


}

.carousel-control-prev-icon .carousel-control-next-icon {

    background-color: lightcoral !important;
    padding: 10px;
    font-weight: bolder;

    &:hover {

        background-color: red !important;


    }
}

.releted-event-img {
    &:hover {
        width: 110% !important;
        transition: all 1s;
        -moz-box-shadow: 0 0 30px $secondary;
        -webkit-box-shadow: 0 0 30px $secondary;
        box-shadow: 0 0 30px $info;

    }
}


#jumbotron-event{
    background-color: $info;
}

